/*Annabelle Tran West-MEC Coding Calculator assignment 11-8-21 CSS-*/
/*Main calculator body*/
.main{
    display: grid;
    text-align: center;
    margin: 5vw 30vw;
    row-gap: 1vw;
    column-gap: .5vw;
    border: 2px solid black;
    padding: 1vw;
    padding-right: 2.5vw;
    background-color: lightgray;
}

    .main button{
        padding: 2vw .5vw;
        font-size: 1.5vw;
    }
/*Clear button*/
.AC{
    grid-area: AC;
    background-color: rgb(20, 77, 182);
}
/*tan button*/
.tan{
    grid-area:tan;
    background-color: rgb(209, 79, 79);
}
/*sin button*/
.sin{
    grid-area: sin;
    background-color: rgb(209, 79, 79);
}
/*cos button*/
.cos{
    grid-area: cos;
    background-color: rgb(209, 79, 79);
}
/*one button*/
.one{
    grid-area: one;
    background-color: gray;
}
/*two button*/
.two{
    grid-area: two;
    background-color: gray;
}
/*three button*/
.three{
    grid-area: three;
    background-color: gray;
}
/*four button*/
.four{
    grid-area: four;
    background-color: gray;
}
/*five button*/
.five{
    grid-area: five;
    background-color: gray;
}
/*six button*/
.six{
    grid-area: six;
    background-color: gray;
}
/*seven button*/
.seven{
    grid-area: seven;
    background-color: gray;
}
/*eight button*/
.eight{
    grid-area: eight;
    background-color: gray;
}
/*nine button*/
.nine{
    grid-area: nine;
    background-color: gray;
}
/*zero button*/
.zero{
    grid-area: zero;
    background-color: gray;
}
/*add button*/
.add{
    grid-area: add;
    background-color: gray;
}
/*multiply button*/
.multiply{
    grid-area: multiply;
    background-color: gray;
}
/*subtract button*/
.subtract{
    grid-area: subtract;
    background-color: gray;
}
/*divide button*/
.divide{
    grid-area: divide;
    background-color: gray;
}
/*solve button*/
.equals{
    grid-area: equals;
    background-color: rgb(46, 175, 46);
}
/*decimal button*/
.decimal{
    grid-area: decimal;
    background-color: gray;
}
/*answer box*/
input{
    grid-area: ans;
    width: 34.75vw;
    height: 5vw;
    font-size: 2vw;
    text-align: right;
    padding-right:1.5vw;
    border: 2px solid black;
}
/*styles the calculator and organized buttons*/
@media only screen and (min-width: 600px) {
    .main{
        grid-template-columns:25% 25% 25% 25%;
        grid-template-areas:
        "ans ans ans ans"
        "AC tan sin cos"
        "one two three add"
        "four five six subtract"
        "seven eight nine multiply"
        "zero decimal equals divide"
    }
}
